li,ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-weight: bold;
}

/*background color*/
body{
    background-color: lightblue;
}

/*header 1*/
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}


img{
    position: fixed;
    bottom: 0;
    right: 0;
    
}