li, ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
    
}

/*background color*/
body{
    background-color: black;
}

/*header 1*/
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}


img{
    position: fixed;
    bottom: 0;
    right: 0;
    
}

.footer{
    display: flex;
    align-items: center;
   justify-content: center;
}

a:visited{ color: blue }